.bingoBoard {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #525251;
  height: 100%;
}

.bingoOverlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
}

.bingoText {
  margin: auto;
}
